<div class="row">
    <div class="col">
      <div class="post-meta">
        <span><i class="fas fa-calendar-alt"></i> January 10, 2017 </span>
        <span><i class="fas fa-user"></i> By <a href="#">John Doe</a> </span>
        <span><i class="fas fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
        <span><i class="fas fa-comments"></i> <a href="#">12 Comments</a></span>
        <span class="d-block d-md-inline-block float-md-right mt-3 mt-md-0"><a href="blog-post.html" class="btn btn-xs btn-primary">Read more...</a></span>
      </div>
    </div>
  </div>