<article class="post post-medium">
    <div class="row">

      <div class="col-lg-5">
        <div class="post-image">
            <app-carousel-basic></app-carousel-basic>
          
        </div>
      </div>
      <div class="col-lg-7">

        <div class="post-content">

          <h2><a href="blog-post.html">Class aptent taciti sociosqu ad litora torquent</a></h2>
          <p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu ornare mauris tincidunt vitae. [...]</p>

        </div>
      </div>

    </div>
    <app-post-miscellaneous></app-post-miscellaneous>

  </article>